body {
	font-family: sacramento;
	color: blue;
	background-color: #fff5e6;
	margin:0;
	padding-top: 5vmin; padding-bottom: 0vmin;
	padding-right: 15vmin; padding-left: 15vmin;
}

a {color: salmon;}

.cursor{
	cursor: url("images/cursor2.png"),auto ;}




.imagewrap img {
	display:block;
	width: 100%;
	max-width: 1440px;
	height: auto;
	margin: auto;
}







.container {
	position: sticky;
	cursor: url("images/cursor2.png"),auto ;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 1fr;
	/*grid-auto-rows: 30vmin;*/
    grid-column-gap: 2%; 
    grid-row-gap: 50px;
    justify-content: center;
    align-content: center;
    background-color: inherit;
 }


.box1 { 
	position: sticky; 
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 1;
		background-color: #fff5e6;
		margin-top: 3vmax;
		padding-top: 4vmin;
		text-align:center;
 		font-size: 3vmax;
 	/*	border-style: dotted; border-radius: 40px; border-width: 5px; border-color: white;*/
 		font-family: eb garamond;
 	

	
}


.box2 { 
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 2;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		height: auto;
	margin: auto;
	/*width: 100%;*/
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
		
}

.box3 { 
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		height: auto;
	margin: auto;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
		
}

.box4 { 
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		height: auto;
	margin: auto;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
}

.box5 { 
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 2;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		height: auto;
	margin: auto;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
}

.box6 { 
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 3;
	grid-row-end: 3;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		height: auto;
	margin: auto;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
}

.box7 { 
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 3;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		height: auto;
	margin: auto;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
}

.box8 { 
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 3;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		height: auto;
		margin: auto;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
}

.box9 { 
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 3;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		height: auto;
	margin: auto;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
}

.box10 { 
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 4;
	grid-row-end: 4;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		height: auto;
	margin: auto;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
}
.box11 { 
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 4;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		height: auto;
	margin: auto;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
}
.box12 { 
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start:4;
	grid-row-end: 4;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		height: auto;
	margin: auto;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
}

.box13 { 
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 4;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		height: auto;
	margin: auto;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
}


.footer {
	grid-column-start: 1;
	grid-column-end: 5;
  	grid-row-start: 5;
  	grid-row-end: 5;
     justify-content: center;
     vertical-align: text-bottom;
    align-content: center;
    font-family: eb garamond;
 	font-size: 1.5vmax;
 	text-align: center;
 	padding-top: 15vmin;
/* 	 display: table-cell;
  vertical-align: bottom;*/
}


.container .box1:hover {

		/*background-color: salmon;*/
		font-style: italic; color: salmon;
	/*	border-style: dotted; border-radius: 40vmin; border-width: 3vmin; border-color: white;*/


	
}

.container .box6:hover {

		/*background-color: salmon;*/color: salmon;font-style: italic;
		border-style: dotted; border-radius: 20px; border-color: white;
		/*box-shadow: 1vmin 1vmin blue;*/

	
}

.container .box2:hover {

		/*background-color: salmon; */color: salmon;font-style: italic;
		border-style: dotted; border-radius: 20px; border-color: white;
		/*box-shadow: 1vmin 1vmin blue;*/
	

	
}

.container .box3:hover {

	/*	background-color: salmon;*/color: salmon;font-style: italic;
		border-style: dotted; border-radius: 20px; border-color: white;
	
/*box-shadow: 1vmin 1vmin blue;*/
	
}

.container .box4:hover {

	/*	background-color: salmon;*/color: salmon;font-style: italic;
		border-style: dotted; border-radius: 20px; border-color: white;
		/*box-shadow: 1vmin 1vmin blue;*/
		

	
}

.container .box7:hover {

		/*background-color: salmon;*/color: salmon;font-style: italic;
		border-style: dotted; border-radius: 20px; border-color: white;
		/*box-shadow: 1vmin 1vmin blue;*/

	
}

.container .box5:hover { 

		/*background-color: salmon;*/color: salmon;font-style: italic;
		border-style: dotted; border-radius: 20px; border-color: white;
	/*box-shadow: 1vmin 1vmin blue;*/
		

	
}

.container .box8:hover {

	/*	background-color: salmon;*/color: salmon;font-style: italic;
		border-style: dotted; border-radius: 20px; border-color: white;
	/*box-shadow: 1vmin 1vmin blue;*/
		

	
}

.container .box9:hover {

		/*background-color: salmon;*/color: salmon;
		border-style: dotted; border-radius: 20px; border-color: white;
		/*box-shadow: 1vmin 1vmin blue;*/
		

	
}

.container .box10:hover {

		/*background-color: salmon;*/color: salmon;
		border-style: dotted; border-radius: 20px; border-color: white;
		/*box-shadow: 1vmin 1vmin blue;*/
		

	
}

.container .box11:hover {

		/*background-color: salmon;*/color: salmon;
		border-style: dotted; border-radius: 20px; border-color: white;
		/*box-shadow: 1vmin 1vmin blue;*/
		

	
}

.container .box12:hover {

		/*background-color: salmon;*/color: salmon;
		border-style: dotted; border-radius: 20px; border-color: white;
		/*box-shadow: 1vmin 1vmin blue;*/
		

	
}

.container .box13:hover {

		/*background-color: salmon;*/color: salmon;
		border-style: dotted; border-radius: 20px; border-color: white;
		/*box-shadow: 1vmin 1vmin blue;*/
		

	
}





