body {
	font-family: sacramento;
	background-color: #fff5e6;
	margin-right: 15vmin; margin-left: 15vmin;
	padding-top: 5vmin; padding-bottom: 5vmin;
	padding-right: 15vmin; padding-left: 15vmin;
}

a {color: blue;}

.cursor{
	cursor: url("images/cursor2.png"),auto ;}

.container {
	cursor: url("images/cursor2.png"),auto ;
    display: grid;
    grid-template-columns: 15vmin 15vmin 15vmin 15vmin 15vmin 15vmin 15vmin 15vmin ;
	grid-auto-rows: 30px;
    grid-column-gap: 2vmin;
    grid-row-gap: 35vmin;
    justify-content: center;
    align-content: center;
    background-color: inherit;
 	
 }


.box1 { 
	grid-column-start: 2;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 1;
		background-color: #fff5e6;
		margin-top: 4vmax;
		text-align:center;
 		font-size: 3vmax;
 	/*	border-style: dotted; border-radius: 40px; border-width: 5px; border-color: white;*/
 		font-family: eb garamond;

	
}


.box2 { 
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 2;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
}

.box3{ 
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
}

.box4 { 
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
}

.box5 { 
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 2;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
}

.box6 { 
	grid-column-start: 5;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 2;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
}

.box7 { 
	grid-column-start: 6;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end: 2;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
}

.box8 { 
	grid-column-start: 7;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 2;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
}

.box9 { 
	grid-column-start: 8;
	grid-column-end: 8;
	grid-row-start: 2;
	grid-row-end: 2;
		background-color: #fff5e6;
		text-align:center;
		font-size: 2vmax;
		/*border-style: dotted; border-radius: 20px; border-color: white;*/
}



.container .box1:hover {

		/*background-color: salmon;*/
		font-style: italic; color: salmon;
	/*	border-style: dotted; border-radius: 40vmin; border-width: 3vmin; border-color: white;*/


	
}

.container .box6:hover {

		background-color: salmon;color: salmon;font-style: italic;
		border-style: dotted; border-radius: 20px; border-color: white;

	
}

.container .box2:hover {

		background-color: salmon; color: salmon;font-style: italic;
		border-style: dotted; border-radius: 20px; border-color: white;
	

	
}

.container .box3:hover {

		background-color: salmon;color: salmon;font-style: italic;
		border-style: dotted; border-radius: 20px; border-color: white;
	

	
}

.container .box4:hover {

		background-color: salmon;color: salmon;font-style: italic;
		border-style: dotted; border-radius: 20px; border-color: white;
		

	
}

.container .box7:hover {

		background-color: salmon;color: salmon;font-style: italic;
		border-style: dotted; border-radius: 20px; border-color: white;

	
}

.container .box5:hover {

		background-color: salmon;color: salmon;font-style: italic;
		border-style: dotted; border-radius: 20px; border-color: white;
		

	
}

.container .box8:hover {

		background-color: salmon;color: salmon;font-style: italic;
		border-style: dotted; border-radius: 20px; border-color: white;
		

	
}

.container .box9:hover {

		background-color: salmon;color: salmon;
		border-style: dotted; border-radius: 20px; border-color: white;
		

	
}

