/*//hi! hope you are having a swell day*/
.circleDiv {
  border: 2px;
  border-radius: 150px;
  position: fixed;
  width: 125px;
  height: 125px;
  opacity: 0.55;
  background-color: salmon;
  padding: 5px;

}

body{
background-color:  #fffaee;
font-family: EB Garamond;
color: black;
font-size: 2.3vh;
}


.name{
  position: absolute;
  left: 50px;
  color: black;
}


.circleDiv:hover {
  transform: scale(2.5);  }

a:link {color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: salmon;
}


#list:hover {
  color: salmon;
}

mark {
  background-color:#fffaee;
}
mark:hover {
  color:salmon;
}

.slideDown:hover {
color: salmon;
}

#projectsHeading { 
text-decoration: underline;
 }

.projectsTab {
  display: none;
}

